body div span a li ul p h1 h2 h3 img link title head button header canvas option select input{
  font-family: 'Orbitron', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: url('./images/background.jpg') ;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
}

.canvas-holder {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: black;
  border: 3px solid #18CAE6;
  width: 70%;
  margin: auto;
}

.logo {
  position: absolute;
  align-self: center;
}

#player-select-div {
  height: 200px;
  width: 400px;
  z-index: 2;
  color: white;
  align-self: center;
  position: absolute;
  margin-top: 17.5%;
  background: black;
  border: 3px solid #18CAE6;
}

#player-details {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width: 100%;
  font-size: 48px;
  align-self: center;
  padding-left: 5px;
}

#flash-player-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width: 100%;
}

.player-select {
  font-size: 48px;
  margin-bottom: 20px;
}

.music-player {
  width: 50px;
  height: 25px;
  outline: none;
  background: black;
  color: white;
  border: 1px solid #18CAE6;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 5px;
  font-family: 'Orbitron', sans-serif;
}

.music-player:hover {
  color: #18CAE6;
}

#countdown {
  align-self: center;
  position: absolute;
  color: white;
  font-size: 128px;
}

#canvas {
  border: 3px solid #18CAE6;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 15px;
}

.controls {
  padding-top: 3px;
  height: 20px;
  font-size: 18px
}

.name {
  outline: none;
  border: none;
  border-bottom: 1px solid #18CAE6;
  background: black;
  color: white;
}

.ready {
  outline: none;
  background: black;
  color: white;
  border: 1px solid #18CAE6;
  border-radius: 3px;
}

.footer {
  height: 100px;
  width: 400px;
  align-self: center;
  background: black;
  border-bottom:3px solid #18CAE6;
  border-left:3px solid #18CAE6;
  border-right:3px solid #18CAE6;
  display: flex;
  justify-content: space-around;
}

.footer-name {
  color: white;
  text-align: center;
  align-self: center;
}

ul {
  align-self: center;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #18CAE6;
}
