body {
  display: flex;
  background: url('./background.jpg') ;
  background-size: cover;
}

.canvas-holder {
  display: flex;
  flex-direction: column;
  height: 98%;
  background: black;
  border: 3px solid #18CAE6;
  width: 70%;
  margin: auto;
}

#player-select-div {
  height: 200px;
  width: 400px;
  z-index: 2;
  color: white;
  align-self: center;
  position: absolute;
  margin-top: 12.5%;
  background: black;
  border: 3px solid #18CAE6
}

#flash-player-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width: 100%;
}

.player-select {
  font-size: 64px;
}

#countdown {
  align-self: center;
  position: absolute;
  color: white;
  font-size: 128px;
}

#canvas {
  border: 3px solid #18CAE6;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
